<app-navbar [sideBar]="sideBar"></app-navbar>
<div class="container" style="margin-top:20px">
    <router-outlet></router-outlet>
    <app-sidebar #sideBar></app-sidebar>
    <!--a routerLink="/articulos">Artículos</a> -------
    <a routerLink="/agregararticulo">Agregar Artículos</a>
    <br>
    <button class="btn btn-primary" type="button" (click)="mostrarSideBar()">Mostrar Sidebar</button>
    <<app-tabla (seleccion)="seleccion($event)"></app-tabla>
    <app-formulario [articuloSeleccionado]="articuloSeleccionado"></app-formulario>-->
</div>

